.about-container {
    display: flex;
    justify-content: space-between;
}

.right, .left {
    flex: 1 1 0px;
}

.right {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.my-img {
    width: 2500px;
}

.about-container h2{
    font-size: 1.75rem;
}

.about-container h3{
    font-size: 1.25rem;
}




