.nav-bar {
    background-color: var(--white);
}

.nav-container {
    margin: 0px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

.nav-brand {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-family: var(--display-font);
}

.nav-logo {
    width: 30px;
    margin-right: 10px;
}

.nav-items {
    display: flex;
    justify-content: space-evenly;
}

.nav-item {
    margin-right: 30px;
}

.nav-item:hover {
    color: var(--primary-color);
    font-weight: bold;
    border-bottom: 3px solid var(--primary-color);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}